In [62]:
import numpy as np
import pandas as pd
from datetime import datetime
import os
import json
import pandas as pd
import pandasql as pdsql  # https://github.com/yhat/pandasql

In [63]:
os.getcwd()

'D:\\_PlayGround\\Github\\pg\\_chaos'

In [64]:
os.chdir('D:\_PlayGround\Projects\mmtf_pool_test_20170925')

In [84]:
folder_runner = './mm_service/v20170926_01/'
path_runner = os.getcwd() + folder_runner + 'alg_runner.exe'
path_server_config = folder_runner + 'srv_config.json'
path_pool_config = folder_runner + 'pool_config.json'

pool_size = 50
alg_version = 'v3'
with open(path_pool_config) as json_data:
    d = json.load(json_data)
    d['Type'] = alg_version
with open(path_pool_config, 'w') as json_out:
    json.dump(d, json_out, indent=4)

file_pool = 'pool_simulation_p001_50.json'
file_log = 'v3_2017-09-27_17_22_32' + '.log'

data_folder = './mm_data/'
path_pool = data_folder + file_pool
path_log = data_folder + file_log

In [87]:
query_str_df_log = '''
select 
    t1.ts
    , t1.TeamAssignmentID
from 
    df_log as t1
where
    t1.MmTicket != 'None'

'''

In [96]:
query_str_df_log = '''
select 
    t1.ts
    , ifnull(t1.TeamAssignmentID, '') as TeamAssignmentID
    , count(1) as partySize
from 
    df_log as t1
where
    t1.MmTicket != 'None'
group by
    t1.ts
    , ifnull(t1.TeamAssignmentID, '')

'''

In [100]:
query_str_df_log = '''
select 
    t1.ts
    , t1.TeamAssignmentID
    , count(1) as partySize
from 
    df_log as t1
where
    t1.MmTicket != 'None'
group by
    t1.ts
    , t1.TeamAssignmentID

'''

In [104]:
query_str_df_log = '''
select 
    t1.ts
    , t1.TeamAssignmentID
    , t1.TeamNo
    , t1.MmTicket
    , count(1) as partySize
    , max(t1.TeamAssinmentQuality) as TeamAssinmentQuality
    , max(t1.MatchingTime) as MatchingTime
    , avg(t2.mu) as partyMu
    , sum(t2.sigma * t2.sigma) as partySigma2
from 
    df_log as t1
    left outer join
        df_pool as t2
        on
            t1.MmTicket = t2.MmTicket
where
    t1.MmTicket != 'None'
group by
    t1.ts, t1.TeamAssignmentID, t1.TeamAssinmentQuality, t1.TeamNo, t1.MmTicket, t1.MatchingTime
'''

In [112]:
log_path = 'D:/_PlayGround/Projects/mmtf_pool_test_20170925/mm_data/v3_2017-09-27_17_22_32.log'
log_path = 'D:/_PlayGround/Projects/mmtf_pool_test_20170925/mm_data/v3_2017-09-27_14_11_45.log'

In [113]:
df_log = pd.read_json(log_path, lines=True)
df_pool = pd.read_json(data_folder + file_pool, lines=True)
df_log.head(n=5)
# df_log['TeamAssignmentID']

,Algorithm,AverageQuality,CompleteTime,DataFile,ExtendSearchRange,InputNumParties,InputNumPlayers,MaxQuality,MaxTeamSize,MinQuality,...,Mu,NotMatchedParty,Sigma,Size,caller,numMatches,numPartiesNotMatched,numPlayersMatched,numPlayersNotMatched,ts
0,v3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,main.go:89,NaN,NaN,NaN,NaN,2017-09-27T05:11:48.5792493Z
1,NaN,NaN,NaN,./mm_data/pool_simulation_p001_50.json,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,main.go:90,NaN,NaN,NaN,NaN,2017-09-27T05:11:48.5792493Z
2,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,main.go:198,NaN,NaN,NaN,NaN,2017-09-27T05:11:48.5862679Z
3,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,main.go:198,NaN,NaN,NaN,NaN,2017-09-27T05:11:48.5882735Z
4,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,main.go:198,NaN,NaN,NaN,NaN,2017-09-27T05:11:48.5907797Z

In [120]:
if 'TeamAssignmentID' not in df_log.columns.values:
    df_log['TeamAssignmentID'] = None
if 'TeamNo' not in df_log.columns.values:
    df_log['TeamNo'] = None
if 'TeamAssinmentQuality' not in df_log.columns.values:
    df_log['TeamAssinmentQuality'] = None
if 'MatchingTime' not in df_log.columns.values:
    df_log['MatchingTime'] = None

In [121]:
df_log_out = pdsql.sqldf(query_str_df_log, locals())

df_log_out.head(n=20)

,ts,TeamAssignmentID,TeamNo,MmTicket,partySize,TeamAssinmentQuality,MatchingTime,partyMu,partySigma2
0,2017-09-27T05:11:48.6083224Z,None,None,party_00002,6,None,None,26.928242,467.371243
1,2017-09-27T05:11:48.6083224Z,None,None,party_00006,3,None,None,31.791102,222.663513
2,2017-09-27T05:11:48.6083224Z,None,None,party_00008,1,None,None,24.513266,105.908348
3,2017-09-27T05:11:48.6083224Z,None,None,party_00011,1,None,None,25.131007,95.524933
4,2017-09-27T05:11:48.6083224Z,None,None,party_00014,3,None,None,30.295357,267.297239
5,2017-09-27T05:11:48.6083224Z,None,None,party_00015,5,None,None,27.321728,136.606929
6,2017-09-27T05:11:48.6083224Z,None,None,party_00016,2,None,None,29.849460,222.887399
7,2017-09-27T05:11:48.6083224Z,None,None,party_00024,5,None,None,32.464547,404.903567
8,2017-09-27T05:11:48.6088226Z,None,None,party_00005,4,None,None,22.174225,201.283264
9,2017-09-27T05:11:48.6088226Z,None,None,party_00007,1,None,None,27.378421,19.153483
10,2017-09-27T05:11:48.6088226Z,None,None,party_00009,1,None,None,26.588396,102.772986
11,2017-09-27T05:11:48.6088226Z,None,None,party_00010,6,None,None,27.388853,493.519411
12,2017-09-27T05:11:48.6088226Z,None,None,party_00012,1,None,None,40.457760,35.093693
13,2017-09-27T05:11:48.6088226Z,None,None,party_00013,1,None,None,39.723882,88.033895
14,2017-09-27T05:11:48.6088226Z,None,None,party_00017,1,None,None,25.728008,27.059037
15,2017-09-27T05:11:48.6088226Z,None,None,party_00020,1,None,None,25.113865,16.380443
16,2017-09-27T05:11:48.6088226Z,None,None,party_00022,1,None,None,29.474835,26.022007
17,2017-09-27T05:11:48.6093238Z,None,None,party_00003,1,None,None,37.262720,103.416339
18,2017-09-27T05:11:48.6093238Z,None,None,party_00004,1,None,None,9.404557,21.707881
19,2017-09-27T05:11:48.6093238Z,None,None,party_00018,3,None,None,20.245582,148.616294

In [57]:
import trueskill as ts
import matplotlib.pyplot as plt
import numpy as np
import math
import pandas as pd
from scipy.stats import norm
pdf = norm.pdf
cdf = norm.cdf
icdf = norm.ppf  # inverse CDF

def DrawMargin(p, beta, total_players=2):
    """ Compute the draw margin (epsilon) given the draw probability. """
    return icdf((p + 1.0) / 2) * math.sqrt(total_players) * beta

init_mu = 25
init_sigma = init_mu / 3
init_beta = init_sigma / 2
init_gamma = init_sigma / 100
init_draw_probability = 0.1
init_epsilon = DrawMargin(0.1, init_beta); init_epsilon

env1 = ts.TrueSkill(mu=init_mu, sigma=init_sigma, beta=init_beta, tau=init_gamma, draw_probability=init_draw_probability, backend='scipy')
env2 = ts.TrueSkill(mu=init_mu, sigma=init_sigma, beta=init_beta * math.sqrt(6), tau=init_gamma, draw_probability=init_draw_probability, backend='scipy')

In [59]:
tst_json_path = 'D:\_PlayGround\Projects\mmtf_pool_test_20170925\mm_data\pool_simulation_p001_50.json'
df_tst = pd.read_json(tst_json_path, lines=True)
df_tst.head(n=50)

       mmTicket         mu      playerID      sigma
0   party_00002  25.632706  player_00011   5.421779
1   party_00002  11.454813  player_00012   9.589792
2   party_00002  45.742165  player_00013  11.688497
3   party_00002  26.877434  player_00014   3.388636
4   party_00002  40.150244  player_00015  10.462421
5   party_00002  11.712091  player_00016   9.404540
6   party_00003  37.262720  player_00017  10.169382
7   party_00004   9.404557  player_00018   4.659172
8   party_00005  26.051638  player_00019   8.687717
9   party_00005   9.903261  player_00020   3.384228
10  party_00005  12.803544  player_00021   5.408901
11  party_00005  39.938458  player_00022   9.224838
12  party_00006  27.450542  player_00023  11.184171
13  party_00006  24.386558  player_00024   4.889156
14  party_00006  43.536207  player_00025   8.583355
15  party_00007  27.378421  player_00026   4.376469
16  party_00008  24.513266  player_00027  10.291178
17  party_00009  26.588396  player_00028  10.137701
18  party_00010  23.742466  player_00029  10.004960
19  party_00010  37.916107  player_00030   9.620641
20  party_00010  23.369133  player_00031  11.083618
21  party_00010  25.365418  player_00032   5.653640
22  party_00010  24.732535  player_00033  10.900872
23  party_00010  29.207460  player_00034   5.217683
24  party_00011  25.131007  player_00035   9.773686
25  party_00012  40.457760  player_00036   5.923993
26  party_00013  39.723882  player_00037   9.382638
27  party_00014  40.695192  player_00038   6.223966
28  party_00014   6.423753  player_00039  10.854443
29  party_00014  43.767127  player_00040  10.523334
30  party_00015  21.642654  player_00041   6.956079
31  party_00015  24.020502  player_00042   3.657324
32  party_00015  42.785957  player_00043   4.413476
33  party_00015  21.289440  player_00044   5.875839
34  party_00015  26.870087  player_00045   4.565043
35  party_00016  40.939422  player_00046  11.478256
36  party_00016  18.759498  player_00047   9.546572
37  party_00017  25.728008  player_00048   5.201830
38  party_00018  26.646649  player_00049   4.752485
39  party_00018   9.437181  player_00050   5.379692
40  party_00018  24.652916  player_00051   9.853380
41  party_00019  26.855617  player_00052   4.556828
42  party_00020  25.113865  player_00053   4.047276
43  party_00021  15.127934  player_00054  10.585662
44  party_00022  29.474835  player_00055   5.101177
45  party_00023  25.402145  player_00056  11.202055
46  party_00024  37.712417  player_00057  10.882388
47  party_00024  41.839925  player_00058   8.648638
48  party_00024  42.810564  player_00059   9.413597
49  party_00024  13.649993  player_00060   4.721922

In [51]:
team1_mmTicket = 'party_00002'
team2_mmTicket = 'party_00010'

team1_ratings = []
team2_ratings = []
for idx, row in df_tst.iterrows():
    # print(idx, row)
    if row['mmTicket'] == team1_mmTicket:
        team1_ratings.append(env1.Rating(row['mu'], row['sigma']))
    elif row['mmTicket'] == team2_mmTicket:
        team2_ratings.append(env1.Rating(row['mu'], row['sigma']))

In [52]:
env1.quality([team1_ratings, team2_ratings])

0.4207382828906615

In [53]:
t1_mu = 26.92824238221011
t2_mu = 27.388853092236328
t1_sigma = 21.618770613530174
t2_sigma = 22.21529677639653

In [58]:
env2.quality([[env2.Rating(t1_mu, t1_sigma)], [env2.Rating(t2_mu, t2_sigma)]])

0.42207644939163663

In [60]:
env1.quality([[env1.Rating(t1_mu, math.sqrt(t1_sigma * t1_sigma + 5*init_beta * init_beta))], [env1.Rating(t2_mu, math.sqrt(t2_sigma * t2_sigma + 5*init_beta * init_beta))]])

0.17231198890919286