In [18]:
'''
create table dat001 (
	received_dt datetime default null,
	device_id char(50) default null,
	channel_size int(10) default null,
	
	scan_no int(10) default null,
	measure_dt datetime default null,
	part_id char(50) default null,
	
	val_gold float(25, 9) default null,
	val_silver float(25, 9) default null,
	reg_dt datetime default null,
	reg_date char(10) default null
)
'''

'\ncreate table dat001 (\n\treceived_dt datetime default null,\n\tdevice_id char(50) default null,\n\tchannel_size int(10) default null,\n\t\n\tscan_no int(10) default null,\n\tmeasure_dt datetime default null,\n\tpart_id char(50) default null,\n\t\n\tval_gold float(25, 9) default null,\n\tval_silver float(25, 9) default null,\n\treg_dt datetime default null,\n\treg_date char(10) default null\n)\n'

In [1]:
import os

os.chdir(r'C:\Users\moon\Downloads\_Saved\test_basic_materials\csv')
print(os.getcwd())

C:\Users\moon\Downloads\_Saved\test_basic_materials\csv

In [5]:
from datetime import datetime
import pymysql


table_name = 'dat001'
host_name = 'localhost'
user_name = 'root'
user_pwd = '1'
db_name = 'test'
charset = 'utf8mb4'


def insert_line(line, parsed_header, parsed_part_id):
    print(line)
    
    # 1
    received_dt = datetime.strptime(parsed_header.get('수집 날짜:').replace('오전', 'AM').replace('오후', ':PM'), '%Y-%m-%d :%p %I:%M:%S')
    
    # 2
    device_id = parsed_header.get('계측기:')
    
    # 3
    channel_size = parsed_header.get('총 채널:')
    
    # 4
    scan_no = line[0]
    
    # 7
    val_gold = line[2]
    
    # 9
    reg_dt = datetime.now()
    
    # 10
    reg_date = datetime.now().strftime('%Y-%m-%d')
    
    connection = pymysql.connect(host=host_name,
                                 user=user_name,
                                 password=user_pwd,
                                 db=db_name,
                                 charset=charset,
                                 cursorclass=pymysql.cursors.DictCursor)

    try:
        with connection.cursor() as cursor:
            # Create a new record
            sql = "INSERT INTO `dat001` VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"

            for i in range(int(channel_size)-1):
                this_part_index = i

                # 5
                measure_dt = datetime.strptime(line[1], '%Y-%m-%d %H:%M:%S:%f')
                
                # 6
                part_id = parsed_part_id[this_part_index + 3]
                
                # 7
                val_silver = line[this_part_index + 3]
            
                cursor.execute(sql, (
                    received_dt
                    , device_id
                    , channel_size
                    , scan_no
                    , measure_dt
                    , part_id
                    , val_gold
                    , val_silver
                    , reg_dt
                    , reg_date
                ))

        # connection is not autocommit by default. So you must commit to save
        # your changes.
        connection.commit()

    finally:
        connection.close()

In [17]:
import codecs
import csv

infile_name = '100A.csv'
parsed_header = {}
parsed_part_id = None
with open(infile_name, encoding='utf16') as csvf:
    rd = csv.reader(csvf, delimiter='\t')
    is_data_line = False
    for idx, line in enumerate(rd):
        
        if is_data_line:
            insert_line(line, parsed_header, parsed_part_id)
        else:
            if line[0] == '수집 날짜:':
                parsed_header['수집 날짜:'] = line[1]
            elif line[0] == '계측기:':
                parsed_header['계측기:'] = line[1]
            elif line[0] == '총 채널:':
                parsed_header['총 채널:'] = line[1]
            elif line[0] == '스캔':
                parsed_part_id = line
                is_data_line = True
            
            
parsed_header

['1', '2017-09-18 20:31:10:576', '1.664563', '1.2499474', '1.2494557', '1.2483841', '1.2497204', '1.2496448', '1.2483589', '1.2481194', '1.2487245', '1.2553683', '1.2544354', '1.2581292', '1.2485354', '1.2526957', '1.2536538', '1.2486362', '1.253742']
['2', '2017-09-18 20:31:12:637', '1.6645756', '1.2499978', '1.2494809', '1.2483967', '1.249733', '1.2496448', '1.2483463', '1.2481194', '1.2487119', '1.2553431', '1.254448', '1.2581418', '1.248548', '1.2526957', '1.2536538', '1.2486362', '1.2537546']
['3', '2017-09-18 20:31:13:560', '1.664563', '1.2499474', '1.2494683', '1.2483967', '1.249733', '1.2496574', '1.2483337', '1.2481194', '1.2487371', '1.2553431', '1.254448', '1.2581166', '1.2485228', '1.252683', '1.2537042', '1.2486236', '1.2537672']
['4', '2017-09-18 20:31:15:060', '1.6645756', '1.2499474', '1.2494683', '1.2483841', '1.2497204', '1.2496448', '1.2483337', '1.2481068', '1.2487371', '1.2553305', '1.2544354', '1.2581418', '1.2485354', '1.2526704', '1.2536664', '1.248611', '1.2537294']
['5', '2017-09-18 20:31:16:560', '1.664563', '1.2499474', '1.2494683', '1.2483841', '1.2497204', '1.2496574', '1.2483463', '1.2481194', '1.2487245', '1.2553305', '1.2544102', '1.2581544', '1.248548', '1.252683', '1.253679', '1.2486362', '1.253742']
['6', '2017-09-18 20:31:18:060', '1.664563', '1.2499474', '1.2494809', '1.2484093', '1.2497456', '1.24967', '1.2483589', '1.2481194', '1.2487497', '1.2553305', '1.254448', '1.258167', '1.2485228', '1.2526957', '1.2536916', '1.2486488', '1.2537546']
['7', '2017-09-18 20:31:19:560', '1.664563', '1.24996', '1.2494683', '1.2483715', '1.249733', '1.2496574', '1.2483463', '1.2481068', '1.2487245', '1.2553305', '1.2544354', '1.2581418', '1.2485102', '1.252683', '1.253679', '1.248611', '1.2537672']
['8', '2017-09-18 20:31:21:060', '1.664563', '1.2499474', '1.2494683', '1.2483841', '1.249733', '1.2496574', '1.2483337', '1.2480941', '1.2487245', '1.2553305', '1.2544102', '1.2581544', '1.2485228', '1.252683', '1.253679', '1.248611', '1.2537672']
['9', '2017-09-18 20:31:22:560', '1.6645504', '1.2499347', '1.2494809', '1.2483715', '1.249733', '1.2496574', '1.2483463', '1.2480815', '1.2486993', '1.2553179', '1.2544354', '1.2581544', '1.2485228', '1.2527083', '1.2536664', '1.248611', '1.2537546']
['10', '2017-09-18 20:31:24:060', '1.6645504', '1.2499221', '1.2494557', '1.2483715', '1.2497078', '1.2496322', '1.2483337', '1.2480941', '1.2487119', '1.2553179', '1.2544102', '1.2581418', '1.2484976', '1.2526704', '1.2536664', '1.2486236', '1.253742']
['11', '2017-09-18 20:31:25:560', '1.6645377', '1.2499347', '1.2494683', '1.2483715', '1.249733', '1.2496574', '1.2483211', '1.248132', '1.2487245', '1.2553053', '1.2544102', '1.2581418', '1.2485102', '1.2526957', '1.2536538', '1.248611', '1.2537546']
['12', '2017-09-18 20:31:27:060', '1.6645504', '1.2499474', '1.2494431', '1.2483841', '1.2497204', '1.2496574', '1.2483337', '1.2481068', '1.2487119', '1.2553179', '1.2544228', '1.2581292', '1.2485102', '1.2526704', '1.2536538', '1.2486236', '1.2537546']
['13', '2017-09-18 20:31:28:560', '1.6645756', '1.2499221', '1.2494683', '1.2484093', '1.249733', '1.2496574', '1.2483337', '1.2480941', '1.2487371', '1.2553053', '1.2544102', '1.2581418', '1.2485102', '1.252683', '1.2536664', '1.2486236', '1.253742']
['14', '2017-09-18 20:31:30:061', '1.6645377', '1.2499221', '1.2494683', '1.2483841', '1.2497204', '1.2496574', '1.2483085', '1.2481068', '1.2487245', '1.2553053', '1.2544102', '1.2581418', '1.2484976', '1.252683', '1.2536538', '1.248611', '1.2537294']
['15', '2017-09-18 20:31:31:561', '1.6645251', '1.2499095', '1.2494557', '1.2483715', '1.2497204', '1.2496448', '1.2483085', '1.2480941', '1.2486993', '1.2552927', '1.2544102', '1.2581418', '1.248485', '1.2526704', '1.2536916', '1.2485984', '1.2537546']
['16', '2017-09-18 20:31:33:060', '1.6645251', '1.2499347', '1.2494683', '1.2483841', '1.2497078', '1.2496322', '1.2483211', '1.2480941', '1.2487119', '1.2553053', '1.2544102', '1.2581166', '1.248485', '1.252683', '1.2536286', '1.2485858', '1.2537546']
['17', '2017-09-18 20:31:34:560', '1.6645125', '1.2499095', '1.2494557', '1.2483841', '1.2497078', '1.2496574', '1.2483085', '1.2480815', '1.2487371', '1.2552927', '1.2543976', '1.2581166', '1.2484723', '1.2526704', '1.2536538', '1.2485858', '1.253742']
['18', '2017-09-18 20:31:36:060', '1.6645377', '1.2498969', '1.2494557', '1.2483589', '1.2497204', '1.2496448', '1.2483211', '1.2480815', '1.2487119', '1.2552927', '1.254385', '1.2581166', '1.248485', '1.2526704', '1.2536286', '1.2485984', '1.2537294']
['19', '2017-09-18 20:31:37:561', '1.6645125', '1.2498969', '1.2494557', '1.2483715', '1.2497078', '1.2496322', '1.2483085', '1.2481068', '1.2487245', '1.2552801', '1.2543976', '1.2581292', '1.2484723', '1.2526957', '1.2536538', '1.2485984', '1.253742']
['20', '2017-09-18 20:31:39:060', '1.6645125', '1.2499095', '1.2494557', '1.2483841', '1.2497078', '1.2496322', '1.2483085', '1.2480941', '1.2487245', '1.2552801', '1.2544102', '1.2581292', '1.2484597', '1.2526704', '1.2536664', '1.2485984', '1.2537294']
['21', '2017-09-18 20:31:40:560', '1.6645251', '1.2498969', '1.2494557', '1.2483715', '1.2497204', '1.24967', '1.2483085', '1.2480941', '1.2487245', '1.2552675', '1.254385', '1.2581418', '1.2484723', '1.252683', '1.2536412', '1.2485858', '1.2537168']
['22', '2017-09-18 20:31:42:060', '1.6645251', '1.2499221', '1.2494809', '1.2484093', '1.2497204', '1.24967', '1.2483337', '1.2480815', '1.2487371', '1.2552801', '1.2544102', '1.2581292', '1.2484723', '1.2526704', '1.2536538', '1.2485858', '1.2537294']
['23', '2017-09-18 20:31:43:560', '1.6645251', '1.2498969', '1.2494683', '1.2483841', '1.2497078', '1.2496574', '1.2483337', '1.2480941', '1.2487371', '1.2552801', '1.2544102', '1.2581418', '1.2484597', '1.252683', '1.253679', '1.2485984', '1.253742']
['24', '2017-09-18 20:31:45:060', '1.6645377', '1.2498969', '1.2494935', '1.2483715', '1.2497204', '1.24967', '1.2483211', '1.2480815', '1.2487497', '1.2552927', '1.2543976', '1.2581418', '1.2484723', '1.2526704', '1.2536538', '1.2485732', '1.253742']
['25', '2017-09-18 20:31:46:560', '1.6645251', '1.2499095', '1.2494809', '1.2483841', '1.2497204', '1.2496826', '1.2482959', '1.2480941', '1.2487371', '1.2552675', '1.2543976', '1.2581544', '1.2484723', '1.252683', '1.2536538', '1.2485606', '1.253742']
['26', '2017-09-18 20:31:48:060', '1.6645504', '1.2499095', '1.2494683', '1.2483967', '1.2497204', '1.2496826', '1.2483085', '1.2481068', '1.2487245', '1.2552675', '1.254385', '1.2581544', '1.2484471', '1.252683', '1.2536538', '1.2485732', '1.253742']
['27', '2017-09-18 20:31:49:560', '1.6645504', '1.2498969', '1.2494683', '1.2483841', '1.2497204', '1.24967', '1.2482959', '1.2480941', '1.2487371', '1.2552548', '1.254385', '1.2581544', '1.2484597', '1.2526957', '1.2536664', '1.2485984', '1.2537294']
['28', '2017-09-18 20:31:51:060', '1.6645125', '1.2499221', '1.2494809', '1.2484219', '1.2497078', '1.24967', '1.2483211', '1.2481068', '1.2487497', '1.2552675', '1.2543976', '1.2581544', '1.2484345', '1.252683', '1.2536664', '1.2485858', '1.253742']
['29', '2017-09-18 20:31:52:560', '1.6645377', '1.2499095', '1.2494809', '1.2484093', '1.2497204', '1.2496574', '1.2483085', '1.2481194', '1.2487497', '1.2552548', '1.254385', '1.2581292', '1.2484219', '1.252683', '1.2536664', '1.2485606', '1.253742']
['30', '2017-09-18 20:31:54:060', '1.6645251', '1.2499095', '1.2494809', '1.2484093', '1.2497204', '1.2496826', '1.2482959', '1.248132', '1.2487371', '1.2552548', '1.2543976', '1.258167', '1.2484471', '1.2527083', '1.253679', '1.2485732', '1.253742']

{'계측기:': '34970A', '수집 날짜:': '2017-09-18 오후 8:31:10', '총 채널:': '17'}

### test codes below

In [171]:
sample_data_line = ['1', '2017-09-18 20:21:12:714', '0.16869649', '0.1264887', '0.12646982', '0.12576887', '0.12626219', '0.12547818', '0.12563044', '0.1260168', '0.12589977', '0.12855624', '0.12662964', '0.12785909', '0.12672653', '0.12747276', '0.12625841', '0.12550209', '0.12639683']
sample_data_line

['1',
 '2017-09-18 20:21:12:714',
 '0.16869649',
 '0.1264887',
 '0.12646982',
 '0.12576887',
 '0.12626219',
 '0.12547818',
 '0.12563044',
 '0.1260168',
 '0.12589977',
 '0.12855624',
 '0.12662964',
 '0.12785909',
 '0.12672653',
 '0.12747276',
 '0.12625841',
 '0.12550209',
 '0.12639683']

In [172]:
len(sample_data_line)

19

In [173]:
parsed_part_id

['스캔',
 '시간',
 '101 <ITL900> (VDC)',
 '102 <1> (VDC)',
 '103 <2> (VDC)',
 '104 <3> (VDC)',
 '105 <4> (VDC)',
 '106 <5> (VDC)',
 '107 <6> (VDC)',
 '108 <7> (VDC)',
 '109 <8> (VDC)',
 '110 <9> (VDC)',
 '111 <10> (VDC)',
 '112 <11> (VDC)',
 '113 <12> (VDC)',
 '114 <13> (VDC)',
 '115 <14> (VDC)',
 '116 <15> (VDC)',
 '117 <16> (VDC)']

In [103]:
parsed_header

{'계측기:': '34970A', '수집 날짜:': '2017-09-18 오후 8:21:12', '총 채널:': '17'}

In [147]:
from datetime import datetime

# 1
received_dt = datetime.strptime(parsed_header.get('수집 날짜:').replace('오전', 'AM').replace('오후', ':PM'), '%Y-%m-%d :%p %I:%M:%S')
received_dt

datetime.datetime(2017, 9, 18, 20, 21, 12)

In [148]:
# 2
device_id = parsed_header.get('계측기:')
device_id

'34970A'

In [149]:
# 3
channel_size = parsed_header.get('총 채널:')
channel_size

'17'

In [150]:
# 4
scan_no = sample_data_line[0]
scan_no

'1'

In [155]:
# 5
measure_dt = datetime.strptime(sample_data_line[1], '%Y-%m-%d %H:%M:%S:%f')
measure_dt

datetime.datetime(2017, 9, 18, 20, 21, 12, 714000)

In [156]:
this_part_index = 0

In [157]:
# 6
part_id = parsed_part_id[this_part_index + 3]
part_id

'102 <1> (VDC)'

In [158]:
# 7
val_gold = sample_data_line[2]
val_gold

'0.16869649'

In [159]:
# 8
val_silver = sample_data_line[this_part_index + 3]
val_silver

'0.1264887'

In [160]:
# 9
reg_dt = datetime.now()
reg_dt

datetime.datetime(2018, 2, 20, 21, 26, 53, 708783)

In [161]:
# 10
reg_date = datetime.now().strftime('%Y-%m-%d')
reg_date

'2018-02-20'

In [164]:
import pymysql


table_name = 'dat001'
host_name = 'localhost'
user_name = 'root'
user_pwd = '1'
db_name = 'test'
charset = 'utf8mb4'

connection = pymysql.connect(host=host_name,
                             user=user_name,
                             password=user_pwd,
                             db=db_name,
                             charset=charset,
                             cursorclass=pymysql.cursors.DictCursor)

try:
    with connection.cursor() as cursor:
        # Create a new record
        sql = "INSERT INTO `dat001` VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
        sql2 = "INSERT INTO `dat999` VALUES('2018-01-01', 'a')"
        sql3 = "INSERT INTO `dat999` VALUES('{}', 1)".format(tttt)
        sql4 = "INSERT INTO `dat001` VALUES(%s)"
        
        cursor.execute(sql, (
            received_dt
            , device_id
            , channel_size
            , scan_no
            , measure_dt
            , part_id
            , val_gold
            , val_silver
            , reg_dt
            , reg_date
        ))

    # connection is not autocommit by default. So you must commit to save
    # your changes.
    connection.commit()

    with connection.cursor() as cursor:
        # Read a single record
        sql = "SELECT * FROM `dat001`"
        cursor.execute(sql)
        result = cursor.fetchall()
        print(result)
finally:
    connection.close()

[{'received_dt': datetime.datetime(2017, 9, 18, 20, 21, 12), 'device_id': '34970A', 'channel_size': 17, 'scan_no': 1, 'measure_dt': datetime.datetime(2017, 9, 18, 20, 21, 12), 'part_id': '102 <1> (VDC)', 'val_gold': 0.16869649291038513, 'val_silver': 0.12648870050907135, 'reg_dt': datetime.datetime(2018, 2, 20, 21, 26, 53), 'reg_date': '2018-02-20'}, {'received_dt': datetime.datetime(2017, 9, 18, 20, 21, 12), 'device_id': '34970A', 'channel_size': 17, 'scan_no': 1, 'measure_dt': datetime.datetime(2017, 9, 18, 20, 21, 12), 'part_id': '102 <1> (VDC)', 'val_gold': 0.16869649291038513, 'val_silver': 0.12648870050907135, 'reg_dt': datetime.datetime(2018, 2, 20, 21, 26, 53), 'reg_date': '2018-02-20'}, {'received_dt': datetime.datetime(2017, 9, 18, 20, 21, 12), 'device_id': '34970A', 'channel_size': 17, 'scan_no': 1, 'measure_dt': datetime.datetime(2017, 9, 18, 20, 21, 12), 'part_id': '102 <1> (VDC)', 'val_gold': 0.16869649291038513, 'val_silver': 0.12648870050907135, 'reg_dt': datetime.datetime(2018, 2, 20, 21, 26, 53), 'reg_date': '2018-02-20'}]