### Loading dataset

In [1]:
import pandas as pd

data_sample = pd.read_table('./data/dac_sample.txt', sep='\t', header=None, index_col=False)

In [10]:
import pandas as pd

#sample file location in CO.
sample = r'D:/etc/Thesis/data/dac_sample.tar/dac_sample.txt'

data_sample = pd.read_table(sample, sep='\t', header=None, index_col=False)

### Let's look at the form of data

In [11]:
#data_sample.head()
data_sample.info()
#data_sample.dtypes
#data_sample.describe()
data_sample[:5]
#data_sample.iloc[:5, :15]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 40 columns):
0     100000 non-null int64
1     55587 non-null float64
2     100000 non-null int64
3     80898 non-null float64
4     80466 non-null float64
5     95240 non-null float64
6     74893 non-null float64
7     95281 non-null float64
8     99893 non-null float64
9     95281 non-null float64
10    55587 non-null float64
11    95281 non-null float64
12    22820 non-null float64
13    80466 non-null float64
14    100000 non-null object
15    100000 non-null object
16    96065 non-null object
17    96065 non-null object
18    100000 non-null object
19    86292 non-null object
20    100000 non-null object
21    100000 non-null object
22    100000 non-null object
23    100000 non-null object
24    100000 non-null object
25    96065 non-null object
26    100000 non-null object
27    100000 non-null object
28    100000 non-null object
29    96065 non-null object
30    100000 non-null object
31    100000 non-null object
32    58529 non-null object
33    58529 non-null object
34    96065 non-null object
35    18434 non-null object
36    100000 non-null object
37    96065 non-null object
38    58529 non-null object
39    58529 non-null object
dtypes: float64(12), int64(2), object(26)
memory usage: 31.3+ MB

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,0,1,1,5,0,1382,4,15,2,181,...,e5ba7672,f54016b9,21ddcdc9,b1252a9d,07b5194c,NaN,3a171ecb,c5c50484,e8b83407,9727dd16
1,0,2,0,44,1,102,8,2,2,4,...,07c540c4,b04e4670,21ddcdc9,5840adea,60f6221e,NaN,3a171ecb,43f13e8b,e8b83407,731c3655
2,0,2,0,1,14,767,89,4,2,245,...,8efede7f,3412118d,NaN,NaN,e587c466,ad3062eb,3a171ecb,3b183c5c,NaN,NaN
3,0,NaN,893,NaN,NaN,4392,NaN,0,0,0,...,1e88c74f,74ef3502,NaN,NaN,6b3a5ca6,NaN,3a171ecb,9117a34a,NaN,NaN
4,0,3,-1,NaN,0,2,0,3,0,0,...,1e88c74f,26b3c7a7,NaN,NaN,21c9516a,NaN,32c7478e,b34f3128,NaN,NaN

####File descriptions
**train.csv** - The training set consists of a portion of Criteo's traffic over a period of 7 days. Each row corresponds to a display ad served by Criteo. Positive (clicked) and negatives (non-clicked) examples have both been subsampled at different rates in order to reduce the dataset size. The examples are chronologically ordered.  
**test.csv** - The test set is computed in the same way as the training set but for events on the day following the training period.  
**random_submission.csv** - A sample submission file in the correct format. 


####Data fields
**Label** - Target variable that indicates if an ad was clicked (1) or not (0).  
**I1-I13** - A total of 13 columns of integer features (mostly count features).  
**C1-C26** - A total of 26 columns of categorical features. The values of these features have been hashed onto 32 bits for anonymization purposes.   
The semantic of the features is undisclosed.

When a value is missing, the field is empty.

> Reference:  
> [https://www.kaggle.com/c/criteo-display-ad-challenge/data]

### How to deal large file?

Refer to below page for loading file by chunk.
> http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking

- **read_xxx** function returns [pandas.io.parsers.**TextFileReader**] object when u specify **chunksize** parameter or when u specify **iterator=True**.

In [2]:
import pandas as pd
import numpy as np

chunk_size = 10000
reader = pd.read_table('./data/dac_sample.txt'
                            , sep='\t'
                            , header=None
                            , index_col=False
                            , chunksize = chunk_size
                           )
count = 0
for chunk in reader:
    print(type(chunk))
    print(chunk.shape)

<class 'pandas.core.frame.DataFrame'>
(10000, 40)
<class 'pandas.core.frame.DataFrame'>
(10000, 40)
<class 'pandas.core.frame.DataFrame'>
(10000, 40)
<class 'pandas.core.frame.DataFrame'>
(10000, 40)
<class 'pandas.core.frame.DataFrame'>
(10000, 40)
<class 'pandas.core.frame.DataFrame'>
(10000, 40)
<class 'pandas.core.frame.DataFrame'>
(10000, 40)
<class 'pandas.core.frame.DataFrame'>
(10000, 40)
<class 'pandas.core.frame.DataFrame'>
(10000, 40)
<class 'pandas.core.frame.DataFrame'>
(10000, 40)

In [7]:
ts = pd.DataFrame()
rs = np.random.RandomState(123)

ts['a'] = np.round(rs.normal(1,2,7) * 10,0)
ts['b'] = np.round(rs.normal(1,3,7) * 10,0)
ts['c'] = np.round(rs.normal(1,4,7) * 10,0)


np.round(rs.normal(1,2,7) * 10,0)

array([ 40.,  -9.,  34., -15.,  -3.,  28., -19.])