**References**

>- [https://en.wikibooks.org/wiki/Python_Programming/Data_Types#Built-in_Data_types]
- [https://docs.python.org/3/library/stdtypes.html#binary-sequence-types-bytes-bytearray-memoryview]
- Python for Data Analysis

In [2]:
import numpy as np

---

# Built-in data types

#Python Built-in Data types
> - boolean
- Numeric types
 - int
 - long
 - float
 - complex
- Sequences
 - str
 - byte
 - list
 - tuple
- Mappings
 - dict

### Bool

In [21]:
t = True
f = False
print(type(t), type(f))

<class 'bool'> <class 'bool'>

---

### Numeric Types
> int, long, float, complex

##### int

In [26]:
#int
i = 1
type(i)

int

##### long
>Python 2.x에만 존재하며, length limit이 없는 integer이다.

In [34]:
#long
l = 11
type(l)

int

##### float

In [35]:
f = 1.1
type(f)

float

##### complex

In [42]:
c = complex(1,1)
print(c)
type(c)

(1+1j)

complex

---

### Sequence
> str, byte, bytearray, list, typle

##### str

In [68]:
s1 = 'hello'
s2 = "world"
print(type(s1), type(s2))

<class 'str'> <class 'str'>

##### byte
> 0-255까지의 integer들의 sequence로서, Python 3.x에서 사용 가능

In [47]:
b = b'hello'
type(b)

bytes

##### bytearray

In [49]:
ba = bytearray(b'hello')
type(ba)

bytearray

##### list
> mutable sequences, surrounded with brackets [...]

In [126]:
l1 = []
print("l1:", l1, type(l1))

l2 = ['a', 'b']
print("l2:", l2, type(l2))

l3 = [x for x in range(5)]
print("l3:", l3, type(l3))

l4 = list((1,2,3))
print("l4:", l4, type(l4))

l5 = [1, 'a']
print(type(l5))

l1: [] <class 'list'>
l2: ['a', 'b'] <class 'list'>
l3: [0, 1, 2, 3, 4] <class 'list'>
l4: [1, 2, 3] <class 'list'>
<class 'list'>

In [4]:
# Merging two lists, just use plus operator

l1 = [1,2]; l1
l2 = list(range(10,15)); l2
l1 + l2

[1, 2, 10, 11, 12, 13, 14]

typle
> immutable sequences, surrounded with parentheses (...)

In [83]:
t1 = (1, 'a', 'cd', 4)
print(t1, type(t1))

t2 = 1, 'a', 'cd', 4
print(t2, type(t2))

t3 = 'a', 
print(t3, type(t3))

#cf
s3 = 'a' 
print(s3, type(s3))

t4 = tuple('b')
print(t4, type(t4))

(1, 'a', 'cd', 4) <class 'tuple'>
(1, 'a', 'cd', 4) <class 'tuple'>
('a',) <class 'tuple'>
a <class 'str'>
('b',) <class 'tuple'>

---

### Set
> set, frozen set

##### set
> unordered collection of distict hashable objects, mutable so this has no hash value and cannot be used as either a dictionary key or as an element of another set.

In [114]:
s1 = set([1,2,3,3,3])
print("s1:", s1, type(s1))

s1: {1, 2, 3} <class 'set'>

##### frozen set
>immutable and hashable set, so it's contents cannot be altered after it is created, it can therefore be used as a dictionary key or as an element of another set

In [113]:
f1 = frozenset([1,2,3,3,3])
print("f1:", f1, type(f1))

f1: frozenset({1, 2, 3}) <class 'frozenset'>

---

### Mappings

##### dict
> key:value pairs

In [123]:
d1 = dict(one=1, two=2, three=3)
print("d1:", d1, type(d1))

d2 = {'one':1, 'two':2, 'three':3}
print("d2:", d2, type(d2))

d3 = {1:'one', 2:'two', 3:'three', 3:'three', 3:'thuuu'}
print("d3:", d3, type(d3))

d1: {'two': 2, 'one': 1, 'three': 3} <class 'dict'>
d2: {'two': 2, 'one': 1, 'three': 3} <class 'dict'>
d3: {1: 'one', 2: 'two', 3: 'thuuu'} <class 'dict'>

---

### Null object

None
> null pointer라기보다는 None이라는 상태를 나타내는 object이다.

In [60]:
n = None
print(type(n))
if n is None:
    print('n is None')
else:
    print('n is not None')

<class 'NoneType'>
n is None

---

---

---

###Mutable vs Immutable Objects
- Immutable : int, float, long, complex, bytes, tuple, frozen set
- Muable    : byte array, list, set, dict

> - Immutable : It's impossible to alter it's element without recreating object.  
> - Mutable : Possible to alter it's element.

# NumPy Basics

### ndarray
> N-dimmensional array object

**Creation Basic**

In [20]:
import numpy as np

data1 = [6, 7.5, 8, 0, 1]
arr1 = np.array(data1)
print("arr1:", arr1, arr1.shape, arr1.dtype)

data2 = [[1,2,3,4], [5,6,7,8]]
arr2 = np.array(data2)
print("arr2:", arr2, arr2.shape, arr2.dtype)

np.zeros(10)

np.zeros((3,6))

np.empty((2,3,2))

np.arange(15)

arr1: [ 6.   7.5  8.   0.   1. ] (5,) float64
arr2: [[1 2 3 4]
 [5 6 7 8]] (2, 4) int32

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

**Array creation functions**
- array : list, tuple, array나 다른 sequence type을 ndarray로 바꾼다.
- asarray : ndarray로 바꾸는데, 만약 input이 이미 ndarray라면 바꾸지 않는다.
- arange : python built-in array와 같은 역할을 하는데, output으로 ndarray를 생성한다.
- ones, ones_like : 1을 원소로 갖는 ndarray를 생성한다. ones_like는 다른 ndarray를 input으로 받아 같은 크기와 dtype의 1을 원소로 갖는 ndarray를 생성한다.
- zeros, zeros_like : ones, ones_like와 유사한데 다만 0으로 체운다.
- empty, empty_like : 값을 체우지 않고, 메모리의 garbage를 그대로 사용한다.
- eye, identity : 정방형의 NxN identity matrix를 생성한다.

In [43]:
print(np.ones(4))

data1 = [1, 7, 8, 0, 1]
arr1 = np.array(data1)

print(np.ones_like(arr1))


np.identity(4)*3

[ 1.  1.  1.  1.]
[1 1 1 1 1]

array([[ 3.,  0.,  0.,  0.],
       [ 0.,  3.,  0.,  0.],
       [ 0.,  0.,  3.,  0.],
       [ 0.,  0.,  0.,  3.]])

**Using dtype**
>- dtype에는 int8, uint8, int16, uint16, int32, uint32, float16, float32, float64, float128, complex64, complex128, complex256, bool, object, string\_, unicode\_ 들이 있다. 

>- ndarray를 생성할 때 dtype 옵션을 이용해 dtype을 명시할 수 있다.

>- ndarray object의 astype 함수를 이용하여 type변환을 할 수 있다. 특히 문자로 들어온 숫자를 숫자로 변환할 때 유용하다.

In [69]:
arr1 = np.array([1,2,3], dtype=np.float64)
print("arr1:", type(arr1), arr1.dtype)

arr2 = np.array([1,2,3], dtype=np.int32)
print("arr2:", type(arr2), arr2.dtype)

#Casting float64 to complex
arr3 = arr1.astype(np.complex)
print("arr3:", type(arr3), arr3.dtype)

arr_string = np.array(['1.2', '-1.0'], dtype=np.string_)
print(arr_string.dtype)
arr4 = arr_string.astype(np.float32)
print("arr4:", type(arr4), arr4.dtype)

arr1: <class 'numpy.ndarray'> float64
arr2: <class 'numpy.ndarray'> int32
arr3: <class 'numpy.ndarray'> complex128
|S4
arr4: <class 'numpy.ndarray'> float32

**Operations between arrays and scalars**

In [75]:
arr = np.array([[1,2,3],[4,5,6]])
print(arr, "\n")
print(arr*arr, "\n")
print(arr - arr, "\n")
print(1/arr, "\n")

[[1 2 3]
 [4 5 6]]

[[ 1  4  9]
 [16 25 36]]

[[0 0 0]
 [0 0 0]]

[[ 1.          0.5         0.33333333]
 [ 0.25        0.2         0.16666667]]

**Basic Indexing and Slicing**

주의할 점은 arr[5:8]은 단지 view를 제공하는 것이라는 것 이다.

따라서
```Python
arr_slice = arr[5:8]
```
위 코드는 arr의 6, 7, 8 번째 element를 arr_slice로 복사하는 것이 아니라는 것이다. 대신 arr에 대한 reference를 return하는데, 그 시작 pointer가 arr[5]를 가리키게 된다.

이런 이유로 
```Python
arr_slice[:] = 12
```
를 하게 될 경우 원본인 arr의 [5:8] element가 12로 바뀐다.

In [16]:
arr = np.arange(10)
print(arr)

#getting values of index 5, 6, 7 that is 6th, 7th and 8th element of arr
print(arr[5:8])

arr_slice = arr[5:8]
print(arr_slice)

arr_slice[:] = 12

arr

[0 1 2 3 4 5 6 7 8 9]
[5 6 7]
[5 6 7]

array([ 0,  1,  2,  3,  4, 12, 12, 12,  8,  9])

**Indexing with slices**

기초적인 것 이지만.. 2d matrix에서 [:2]를 사용할 경우 0, 1번째 row를 선택하게 된다.

In [20]:
arr2d = np.array([[1,2,3],[4,5,6],[6,7,8]])
print(arr2d)

arr2d[:2]

[[1 2 3]
 [4 5 6]
 [6 7 8]]

array([[1, 2, 3],
       [4, 5, 6]])

**Boolean Indexing**

주의할 점은 앞서 arr[5:8]과 달리 array에 대한 boolean indexing을 할 경우 항상 copy가 생성된다는 것이다. 따라서 아래와 같이 data2를 수정해도 data가 바뀌지 않는다.

In [38]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
data = np.random.randn(7,4)
data2 = data[names=='Bob']
data2
data2[0] = 1
data

array([[  1.64408886e+00,   1.67907421e+00,   9.09734482e-01,
          3.45504797e-01],
       [  9.15718721e-01,   4.18824955e-01,  -1.54919964e+00,
          1.58616791e-01],
       [ -1.16526733e+00,   6.39432127e-01,   2.08653775e-01,
         -4.92445898e-01],
       [ -2.76896246e-01,  -5.85797819e-01,  -1.18035344e-03,
          5.98449787e-01],
       [ -9.47526453e-01,   2.38675816e+00,  -4.30811645e-01,
         -3.62050227e-01],
       [ -1.57836262e+00,   1.62195728e+00,  -6.14852065e-02,
         -2.38294318e+00],
       [ -8.91099542e-01,  -1.08305486e+00,  -2.17272009e+00,
         -4.83764346e-02]])

**Fancy Indexing**

Fancy Indexing은 integer array를 이용한 index을 말한다. 예를들어 아래와 같이 arr[]의 index argument로 [2,1]과 같은 list를 줄 경우 2번째 그리고 1번째 row를 선택하게 된다. 또한 만약 list element가 음수일 경우 끝 row혹은 column부터 카운트 해서 해당 row혹은 column을 가져온다. 예를들어 [-3]은 뒤에서부터 3번째 row를 가져오는 것이다.

앞서 boolean indexing과 마찬가지로 fancy indexing은 copy를 생성한다.

In [45]:
arr = np.empty((8, 4))
arr
for i in range(8):
    arr[i] = i
    
arr

arr[[2,1]]

array([[ 2.,  2.,  2.,  2.],
       [ 1.,  1.,  1.,  1.]])

**Transposeing Arrays and Swapping Axes**

ndarray object의 T 함수를 사용하면 transpose가 된다. transpose함수를 사용하여 axis의 순서를 바꿀 수 있는데, T함수는 transpose함수에서 (n, n-1, ..., 1)을 준 경우라고 할 수 있다.

In [65]:
arr = np.arange(16).reshape((2,2,4))
print(arr, "\n------------\n")
print(arr.T, "\n-------------\n")

print(arr.transpose((2, 1, 0)))

[[[ 0  1  2  3]
  [ 4  5  6  7]]

 [[ 8  9 10 11]
  [12 13 14 15]]]
------------

[[[ 0  8]
  [ 4 12]]

 [[ 1  9]
  [ 5 13]]

 [[ 2 10]
  [ 6 14]]

 [[ 3 11]
  [ 7 15]]]
-------------

[[[ 0  8]
  [ 4 12]]

 [[ 1  9]
  [ 5 13]]

 [[ 2 10]
  [ 6 14]]

 [[ 3 11]
  [ 7 15]]]

**Universal Functions:Fast Element-wise Array Functions**

Unary ufunction과 Binary ufunction이 있다.

**Data Processing Using Arrays**

meshgrid???

In [96]:

points1 = np.arange(1, 5, 1)
points2 = np.arange(10, 7, -1)
xs, ys = np.meshgrid(points1, points2)
xs

array([[1, 2, 3, 4],
       [1, 2, 3, 4],
       [1, 2, 3, 4]])

**Expressing Conditional Logic as Array Operations**

#Pandas Data Structure

###### Rank1 array
> shape이 (?, ) 인 녀석을 rank1 array라 한다. maxtix를 rank1 array로 바꾸려면 ravel() 함수를 쓰면 된다.

In [16]:
import numpy as np

x = np.random.uniform(size=(1, 5))
x.shape

(1, 5)

In [17]:
y = x.ravel()
y

array([ 0.40285942,  0.51546289,  0.74922749,  0.47925214,  0.51303614])

In [18]:
y.shape

(5,)

###### 차원 복재
> np.newaxis로 값이 1인 차원을 추가하고, reps에 각 차원을 몇번 복재할지 지정한다.

In [23]:
import numpy as np

z = np.tile(y[np.newaxis, np.newaxis, :], reps=(2, 3, 1))
z

array([[[ 0.40285942,  0.51546289,  0.74922749,  0.47925214,  0.51303614],
        [ 0.40285942,  0.51546289,  0.74922749,  0.47925214,  0.51303614],
        [ 0.40285942,  0.51546289,  0.74922749,  0.47925214,  0.51303614]],

       [[ 0.40285942,  0.51546289,  0.74922749,  0.47925214,  0.51303614],
        [ 0.40285942,  0.51546289,  0.74922749,  0.47925214,  0.51303614],
        [ 0.40285942,  0.51546289,  0.74922749,  0.47925214,  0.51303614]]])

In [24]:
z.shape

(2, 3, 5)

### DataFrame

Let's create simple DataFrame from random numbers

In [1]:
import pandas as pd
import numpy as np

ts = pd.DataFrame()
rs = np.random.RandomState(123)

# You have to insert Ndarray(numpy array)
ts['a'] = np.round(rs.normal(1,2,7))
ts['b'] = np.linspace(start=5, stop=10, num=7, dtype='int32')
ts['c'] = np.arange(start=10, stop=3, step=-1, dtype='float')
ts['d'] = np.array([1,2,3,np.nan,5,6,np.nan])

ts

   a   b   c   d
0 -1   5  10   1
1  3   5   9   2
2  2   6   8   3
3 -2   7   7 NaN
4  0   8   6   5
5  4   9   5   6
6 -4  10   4 NaN

How to preview a part of a large dataFrame?

In [2]:
ts.head()

   a  b   c   d
0 -1  5  10   1
1  3  5   9   2
2  2  6   8   3
3 -2  7   7 NaN
4  0  8   6   5

In [4]:
ts.head(3)

   a  b   c  d
0 -1  5  10  1
1  3  5   9  2
2  2  6   8  3

In [3]:
ts[:3]

   a  b   c  d
0 -1  5  10  1
1  3  5   9  2
2  2  6   8  3

Max operation

In [32]:
ts.max() #same as ts.max(axis=0)
# min, sum, count

a     4
b    10
c    10
d     6
dtype: float64

In [33]:
ts.max(axis=1)

0    10
1     9
2     8
3     7
4     8
5     9
6    10
dtype: float64

Deleting row

In [34]:
ts.drop([3])

   a   b   c   d
0 -1   5  10   1
1  3   5   9   2
2  2   6   8   3
4  0   8   6   5
5  4   9   5   6
6 -4  10   4 NaN

In [35]:
ts.drop(['b'], axis=1)

   a   c   d
0 -1  10   1
1  3   9   2
2  2   8   3
3 -2   7 NaN
4  0   6   5
5  4   5   6
6 -4   4 NaN

In [36]:
ts

   a   b   c   d
0 -1   5  10   1
1  3   5   9   2
2  2   6   8   3
3 -2   7   7 NaN
4  0   8   6   5
5  4   9   5   6
6 -4  10   4 NaN

In [37]:
ts.drop(['b'], axis=1, inplace=True)
ts

   a   c   d
0 -1  10   1
1  3   9   2
2  2   8   3
3 -2   7 NaN
4  0   6   5
5  4   5   6
6 -4   4 NaN

In [41]:
ts1 = pd.DataFrame()
ts1['max'] = ts.max()
ts1['sum'] = ts.sum()
ts1['count'] = ts.count()
ts1['nan'] = ts.isnull().sum() #count nan values
ts1

   max  sum  count  nan
a    4    2      7    0
c   10   49      7    0
d    6   17      5    2

In [41]:
ts1[['max', 'sum']].max()

max    10
sum    30
dtype: float64

In [39]:
ts1[['max', 'sum']].max(axis=1)

a     4
c    49
d    17
dtype: float64